{% extends 'base.html.twig' %}

{% block title %}We-Movies{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">A propos de We Movies</a>
            <div class="float-right" id="navbarColor02">
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Recherche">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
